* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #625BFE;
  color: white;
  padding: 1rem;
}

.sidebar-top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-top h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.expand-btn {
  margin-left: auto;
  cursor: pointer;
}

.sidebar-links ul {
  list-style: none;
  display: flex; /* Hacer que los elementos <li> se coloquen horizontalmente */
}

.sidebar-links li {
  margin-bottom: 0.5rem;
  margin-right: 1rem; /* Agregar un margen derecho entre los elementos <li> */
}

.sidebar-links li:last-child {
  margin-right: 0; /* Eliminar el margen derecho del último elemento <li> para evitar espacio adicional */
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}


.sidebar-links li form button {
  display: flex;
  align-items: center;
  background-color: #7771F6;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}

.sidebar-links li a.active {
  background-color: #7771F6;
  border-radius: 5px;
}
.sidebar-links li form button.active {
  background-color: #7771F6;
  border-radius: 5px;
}


.icon img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.link {
  margin-left: 0.5rem;
}
#cerrar{
  background-color: red;
  }